In [ ]:
import pandas as pd

In [47]:
tempdf = pd.read_csv("TemperatureData.csv", delimiter=",")
tempsel = tempdf.loc[tempdf["Date"] >= "1986-01-01"]
tempsel["Date"] = tempsel["Date"].str[:-6]

/tmp/ipykernel_7997/3005010991.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempsel["Date"] = tempsel["Date"].str[:-6]

In [56]:
tempsel.head()
tempsel["Date"] = pd.to_numeric(tempsel["Date"])
dates = tempsel["Date"].unique()
tempsel.head()

/tmp/ipykernel_7997/404725488.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempsel["Date"] = pd.to_numeric(tempsel["Date"])

,Date,AT,BE,HR,CY,DK,EE,FI,FR,DE,...,LV,LU,NL,NO,PL,RO,ES,SE,CH,GB
84006,1986,-6.0,NaN,3.0,12.0,0.0,-5.0,-7.0,3.0,-6.0,...,-4.0,-6.0,-3.0,-10.0,-8.0,0.0,10.0,-11.0,-4.0,3.0
84007,1986,-6.0,NaN,5.0,14.0,-2.0,-7.0,-12.0,6.0,-0.0,...,-7.0,3.0,2.0,-9.0,-5.0,0.0,10.0,-11.0,1.0,3.0
84008,1986,-1.0,NaN,7.0,13.0,-3.0,-6.0,-13.0,6.0,2.0,...,-6.0,2.0,1.0,-9.0,-1.0,2.0,8.0,-9.0,1.0,2.0
84009,1986,-3.0,NaN,6.0,13.0,-2.0,-3.0,-11.0,3.0,-2.0,...,-2.0,-1.0,1.0,-11.0,-1.0,2.0,7.0,-12.0,-3.0,-0.0
84010,1986,-5.0,NaN,1.0,13.0,-5.0,-2.0,-11.0,3.0,-1.0,...,-2.0,-0.0,1.0,-10.0,-4.0,2.0,7.0,-13.0,-3.0,0.0

In [66]:
meanlist = []
for date in dates:
    a = tempsel.loc[tempsel["Date"] == date].mean()
    meanlist.append(a)
tempmeans = pd.DataFrame(list)

In [69]:
tempmeans.head()

,Date,AT,BE,HR,CY,DK,EE,FI,FR,DE,...,LV,LU,NL,NO,PL,RO,ES,SE,CH,GB
0,1986.0,7.591781,NaN,12.243836,18.701370,7.591781,5.158904,2.347945,11.657534,8.101370,...,5.572603,8.260274,8.950685,3.709589,7.180822,9.304110,14.819178,3.786301,7.271233,8.336986
1,1987.0,7.369863,NaN,12.200000,18.389041,7.041096,3.564384,0.871233,11.687671,7.635616,...,3.950685,7.901370,8.786301,3.391781,6.230137,8.605479,15.430137,2.887671,7.230137,8.693151
2,1988.0,8.224044,NaN,12.639344,18.740437,8.945355,5.893443,3.193989,12.404372,9.210383,...,6.188525,9.431694,10.289617,4.655738,7.928962,9.248634,15.158470,4.754098,7.918033,9.415301
3,1989.0,8.490411,NaN,12.624658,18.720548,9.830137,7.386301,4.824658,12.934247,9.578082,...,7.679452,9.873973,10.690411,5.602740,8.904110,9.936986,15.939726,6.016438,8.254795,9.969863
4,1990.0,8.402740,NaN,12.972603,18.931507,9.989041,6.912329,4.194521,12.939726,9.558904,...,7.484932,9.953425,10.682192,5.901370,8.824658,10.191781,15.668493,6.043836,8.301370,10.082192