In [1]:
import pandas as pd

In [6]:
tempdf = pd.read_csv("TemperatureData.csv", delimiter=",")
tempsel = tempdf.loc[tempdf["Date"] >= "1986-01-01"]
tempsel["Date"] = tempsel["Date"].str[:-6]

/tmp/ipykernel_14611/3005010991.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempsel["Date"] = tempsel["Date"].str[:-6]

In [15]:
tempsel.head()
tempsel["Date"] = pd.to_numeric(tempsel["Date"])
dates = tempsel["Date"].unique()
print(dates)

[1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999
 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023]

In [11]:
meanlist = []
for date in dates:
    a = tempsel.loc[tempsel["Date"] == date].mean()
    meanlist.append(a)
tempmeans = pd.DataFrame(meanlist)
tempmeans['Date'] = tempmeans['Date'].astype(str)
tempmeans["Date"] = tempmeans["Date"].str[0:4]

In [16]:
tempmeans.head()
tempdf2 = tempmeans.T

In [17]:
tempdf2.columns = tempdf2.iloc[0]
tempdf2 = tempdf2.drop(tempdf.index[0])
tempdf3 = tempdf2.reset_index()
tempdf3.rename(columns = {'index':'Country_Code'}, inplace = True)
tempdf3.head()

Date,Country_Code,1986,1987,1988,1989,1990,1991,1992,1993,1994,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Date,1986,1987,1988,1989,1990,1991,1992,1993,1994,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
1,BE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.869565,10.786301,12.134247,12.44856
2,HR,12.243836,12.2,12.639344,12.624658,12.972603,12.032877,13.172131,12.676712,13.756164,...,14.054795,13.986301,13.60929,13.630137,14.276712,14.254795,13.972678,13.589041,14.604396,14.711934
3,CY,18.70137,18.389041,18.740437,18.720548,18.931507,18.619178,17.535519,18.476712,19.320548,...,20.449315,20.276712,20.445355,20.043836,21.084932,20.509589,20.679452,20.841096,20.418994,20.452675
4,DK,7.591781,7.041096,8.945355,9.830137,9.989041,8.789041,9.489071,8.120548,9.189041,...,10.158904,9.345205,9.265027,9.115068,9.687671,9.715068,10.120219,9.057534,9.778082,10.09465

In [18]:
tempdf3.to_csv("tempmeans.csv")